<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <title>Edit Item</title>
</head>
<body>
<form id="edit" method="post"  th:action="@{/editItem/{ID}(ID=*{item.ID})}">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" th:field="*{item.name}" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" th:field="*{item.description}" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" id="amount" name="amount" th:field="*{item.amount}" placeholder="Amount">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input class="form-control" id="price" name="price" th:field="*{item.price}" placeholder="Price">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</body>
</html>